@{
    ViewData["Title"] = "Home Page";
}



<div class="flex flex-col items-center w-full pt-2 gap-4">
    <h1 class="text-4xl">Trachtenberg system web app</h1>
    @* <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" /> *@

</div>
