@model IEnumerable<HighScoresModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Leaderboard";
}
<!-- flexbox used to center content on the page -->
<div class="flex flex-col py-8 pt-4 gap-2 items-center w-full mx-4">
  <div>
    <h1 class="text-4xl">Leaderboard</h1>
  </div>
  
  <!-- table styled using daisy ui -->
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      
      <!-- table headers -->
      <thead>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Multiplication Easy Test High score</th>
      </tr>
      </thead>
      <tbody>

      <!-- rows in the table -->
      @{
        // stores the rank of the current user and increments so first user is 1 then so on
        int rank = 1;
        // loops through highscores in the highscores table
        foreach (HighScoresModel user in @Model)
        {
          <tr>
            <!-- inserts accont name and multiplication easy test score into the table -->
            <th>@rank</th>
            <td>@user.AccountName</td>
            <td>@user.MultiplicationEasyTestScore</td>
          </tr>
        rank += 1;
        }
      }

      </tbody>
    </table>
  </div>
</div>
