@model Trachtenberg_System.Models.PractiseModel;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Practise";
}


<!-- Operations: Multiplication, Addition, Subtraction, Division, Squaring, Square rooting -->   
<!-- Difficulty: Easy, Medium, Hard, Expert -->
<!-- Length: Short, Medium, Long -->
<!-- Custom -->

<!-- main content -->
<div class="flex flex-col items-center border border-gray-500 p-2 gap-5">
    
    <!-- title -->
    <div>
        <h1 class="text-4xl">Practise</h1>
    </div>
    
    <!-- choose practise settings -->
    <div>
        <div class="flex flex-row gap-5">
            <div class="flex flex-col gap-4">
                
                <!-- choose operation -->
                <div class="flex flex-col gap-2">
                    <label asp-for="Operation">Choose operation: </label>
                    <select asp-for="Operation" class="select select-bordered w-full max-w-xs">
                        <option disabled selected>Choose operation</option>
                        <option>Multiplication</option>
                        <option>Addition</option>
                        <option>Division</option>
                        <option>Squaring</option>
                        <option>Square Rooting</option>
                    </select>
                </div>
                
                <!-- choose difficulty -->
                <div class="flex flex-col gap-2">
                    <label asp-for="Difficulty">Choose the session difficulty: </label>
                    <select asp-for="Difficulty" class="select select-bordered w-full max-w-xs">
                        <option disabled selected>Choose difficulty</option>
                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                        <option>Expert</option>
                    </select>
                </div>
                
                <!-- choose length -->
                <div class="flex flex-col gap-2">
                    <label asp-for="Length">Choose the the session length: </label>
                    <select asp-for="Length" class="select select-bordered w-full max-w-xs">
                        <option disabled selected>Choose length</option>
                        <option>Short</option>
                        <option>Medium</option>
                        <option>Long</option>
                        <option>Marathon</option>
                    </select>
                </div>
                
                <!-- custom -->
                <div class="">
                    <label class="label cursor-pointer">
                        <span class="label-text">Custom session?</span> 
                        <input type="checkbox" checked="checked" class="checkbox" />
                    </label>
                </div>
                
                <!-- submit button -->
                <button class="btn btn-primary">Start test</button>
                
            </div>
            <div>
                
            </div>

        </div>
    </div>
    <div>

    </div>
</div>