@model Trachtenberg_System.Models.PractiseModel;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Practise";
}


<!-- Operations: Multiplication, Addition, Subtraction, Division, Squaring, Square rooting -->   
<!-- Difficulty: Easy, Medium, Hard, Expert -->
<!-- Length: Short, Medium, Long -->
<!-- Custom -->

<!-- main content -->
<div class="flex flex-col items-center border border-gray-500 p-2 gap-5">
    
    <!-- title -->
    <div>
        <h1 class="text-4xl">Practise</h1>
    </div>
    
    <!-- choose practise settings -->
    <form method="post" asp-controller="Practise" asp-action="Index">
        <div>
            
            <!-- adjust settings for test -->
            <div class="flex flex-col gap-4">
    
                <!-- choose operation -->
                <div class="flex flex-col gap-2">
                    <label asp-for="Operation">Choose operation: </label>
                    <!-- binds to operation property and and provides the options from the OperationsEnum -->
                    <select asp-for="Operation" asp-items="Html.GetEnumSelectList<OperationsEnum>()" class="select select-bordered w-full max-w-xs">
                        <option disabled selected>Choose operation</option>
                    </select>
                </div>
    
                <!-- choose difficulty -->
                <div class="flex flex-col gap-2">
                    <label asp-for="Difficulty">Choose the session difficulty: </label>
                    <!-- binds to difficulty property and and provides the options from the DifficultyEnum -->
                    <select asp-for="Difficulty" asp-items="Html.GetEnumSelectList<DifficultyEnum>()" class="select select-bordered w-full max-w-xs">
                        <option disabled selected>Choose difficulty</option>
                    </select>
                </div>
    
                <!-- choose length -->
                <div class="flex flex-col gap-2">
                    <label asp-for="Length">Choose the the session length: </label>
                    <!-- binds to length property and and provides the options from the LengthEnum -->
                    <select asp-for="Length" asp-items="Html.GetEnumSelectList<LengthEnum>()" class="select select-bordered w-full max-w-xs">
                        <option disabled selected>Choose length</option>
                    </select>
                </div>
    
                <!-- custom -->
                <div class="">
                    <label class="label cursor-pointer">
                        <span class="label-text">Custom session?</span>
                        <!-- binds to isCustom property within the CustomPractise object which is a boolean -->
                        <input asp-for="CustomPractise.IsCustom" type="checkbox" class="checkbox"/>
                    </label>
                </div>
    
                <!-- submit button -->
                <input type="submit" value="Start test" class="btn btn-primary"/>
            </div>
        </div>
    </form>
</div>
