@using NuGet.Protocol
@model string;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Practise";
}

<p id="difficulty"></p>

<script>
    console.log("before");
    let objPractise = JSON.parse('@Html.Raw(Model)');
    document.getElementById('difficulty').innerText = objPractise.Difficulty;
    console.log(objPractise.Difficulty);
    // console.log("Hellooo");
    // console.log(objPractise);
    // let secondTest = new Test(objPractise.Length, objPractise.Difficulty, objPractise.Operation);
    // secondTest.generateTest();
</script>
