@using NuGet.Protocol
@model string;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Practise";
}

<p id="js-test">yo</p>


@* <script type="text/javascript" src="@Url.Content("/js/site.js")"></script> *@

<script type="text/javascript">
    let modelConv = @Html.Raw(Model);
    console.log(modelConv);
    let firstTest = new Test(modelConv.Length, modelConv.Difficulty, modelConv.Operation);
    firstTest.generateMultiplicationTest();
    
</script>